# Data Science Tools and Ecosystem

## Author
Charles Simmons

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular langages of Data Science
- List libraries used in Data Science
- List popular tools of Data Science
- Give examples of evaluating arithmetic

Some of the popular languages that Data Scientists use are

1. R
2. Python
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
4. TensorFlow

|Data Science Tools|
|-----|
|MySQL|
|PostgreSQL|
|Hadoop|
|Apache AirFlow|
|KubeFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335